@font-face {
    font-family: "ArchivoBlack"; 
    /* Gunakan ./ untuk menandakan file ada di folder yang sama */
    src: url("./ArchivoBlack-Regular.ttf") format("truetype");
}

@media (min-width: 1024px) {
    .navContainer {
        width: 80%;
        padding-right: 110px; /* Geser yang kamu mau tadi */
    }
}

body {
    background-color: rgb(237,220,211);
    padding: 15px;
    border-color: rgb(255, 207, 171);
}

body.bgAnimation-active {
    background-image: url('stars.jpg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.5s ease;
}

@theme {
    --text-shadow-xl: 0 35px 35px rgb(0, 0, 0 );
}


#gallery-page {
    background-color: rgb(23,22,35);
}

#animation-page {
    background-color: rgb(32,32,35);
}


h1,h2 {
        font-family: "ArchivoBlack", sans-serif;
}

.text-perspective{
    transform: perspective(500px) rotateY(-20deg);
}

@keyframes cloud-slide-right {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(150vw);
    }
}

.cloud-right {
    animation: cloud-slide-right 2s ease-in-out forwards;
}

@keyframes cloud-slide-left {
    from {
        transform: translateX(50%);
    }

    to {
        transform: translateX(-150vw);
    }
}

.cloud-left {
    animation: cloud-slide-left 2s ease-in-out forwards;
}

@media (max-width: 786px){

    .text-perspective{
        font-size: 3em;

        transform: perspective(500px) rotateY(-20deg);
    }

    #icon-adjust-mobile {
        margin-top: calc(50% - 50vh);
    }

    .background-adjust-mobile {
        background-image: url("landingpagev3.jpg.jpeg");
        background-size: auto 90%;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    #background1-adjust-mobile {
        background-image: url("galeri-page.jpg.jpeg");
        background-size: auto 50%;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    #background2-adjust-mobile {
        background-image: url("dark-living-room.jpg.jpeg");
        background-size: auto 80%;
        background-position: top;
        background-repeat: no-repeat;
    }

    #background3-adjust-mobile {
    background-image: url("assost-page.jpg.jpeg");
    background-size: auto 50%;
    background-position: top;
    background-repeat: no-repeat;
}

    .background4-adjust-mobile {
        background-image: url("cityLandscape.jpg.jpeg");
        background-size: auto 50%;
        background-position: top;
        background-repeat: no-repeat;
    }

    #cloud-adjust-mobile {
        background-image: url("coudes.png");
        background-size: auto 50%;
        background-position: top;
        background-repeat: no-repeat;
    }
}