@font-face {
    font-family: "ArchivoBlack"; 
    /* Gunakan ./ untuk menandakan file ada di folder yang sama */
    src: url("./ArchivoBlack-Regular.ttf") format("truetype");
}

@media (min-width: 1024px) {
    .navContainer {
        width: 80%;
        padding-right: 110px; /* Geser yang kamu mau tadi */
    }
}

body {
    background-color: rgb(237,220,211);
    padding: 15px;
    border-color: rgb(255, 207, 171);
}

#gallery-page {
    background-color: rgb(23,22,35);
}

#animation-page {
    background-color: rgb(22,22,25);
}


h1,h2 {
        font-family: "ArchivoBlack", sans-serif;
}

.text-perspective{
    transform: perspective(500px) rotateY(-20deg);
}

@media (max-width: 786px){

    .text-perspective{
        font-size: 3em;

        transform: perspective(500px) rotateY(-20deg);
    }

    #icon-adjust-mobile {
        margin-top: calc(50% - 50vh);
    }

    #background1-adjust-mobile {
        background-image: url("galeri-page.jpg.jpeg");
        background-size: auto 50%;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    #background2-adjust-mobile {
        background-image: url("dark-living-room.jpg.jpeg");
        background-size: auto 50%;
        background-position: top;
        background-repeat: no-repeat;
    }

    #background3-adjust-mobile {
    background-image: url("assost-page.jpg.jpeg");
    background-size: auto 50%;
    background-position: top;
    background-repeat: no-repeat;
}
}